{% extends 'base.html' %}

{% block content %}

<div class="container bg-form1" xmlns="http://www.w3.org/1999/html">
    <div class="row justify-content-md-center">
        <form action="change_password" method="post">
            {% csrf_token %}
            <div class="mb-3 ms-5 me-5 mt-5">
                {% for field in form.visible_fields %}
                <div class="form-group">{{ field }}</div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-main">Сменить пароль</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}