{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row">
    <h1>§1 Прямоугольные треугольники</h1>
</div>
<div class="row text bg-main">
    <p><strong><em>Прямоугольный треугольник</em></strong>- это треугольник, в котором один угол прямой (90 градусов).
    </p>
    <div class="col mb-3">
        <img src="{% static 'images/triangle.png' %}" width="100" height="100" alt="">
    </div>
</div>
<div class="row text bg-main">
    <div class="input-group">
        <span class="input-group-text btn-main">Что такое прямоугольный треугольник?</span>
        <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <input type="text" class="form-control mt-3 mb-3" placeholder="Треугольник, в котором один угол прямой это"
           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

{% endblock %}