{% extends 'base.html' %}

{% block content %}

<div class="container bg-form2">
    <div class="row justify-content-md-center">
        <form action="sign_up" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col col-lg-15 mt-4">
                    {% for field in form.visible_fields %}
                    <div class="form-group mt-3">{{ field }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button type="submit" class="ms-5 me-5 btn btn-main">Зарегистрироваться</button>
                </div>
                <div class="col mt-2">
                    <a href="{% url 'sign_in' %}" class="link-primary">Уже есть аккаунт?</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}