{% extends 'base.html' %}

{% block content %}

<div class="container bg-form1" xmlns="http://www.w3.org/1999/html">
    <div class="row justify-content-md-center">
        <form action="sign_in" method="post">
            {% csrf_token %}
            <div class="mb-3 ms-5 me-5 mt-5">
                {% for field in form.visible_fields %}
                <div class="form-group">{{ field }}</div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col col-lg-3">
                    <button type="submit" class="btn btn-main">Войти</button>
                </div>
                <div class="col mt-2">
                    <a href="{% url 'sign_up' %}" class="ml-5 me-5 link-primary">Ещё нет аккаунта?</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}